<div class="jumbotron mt-3">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="display-4">
        <%= pluralize(@movies.size, 'Movie') %>
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-between">
    <% @movies.each do |movie| %>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
        <div class="card">

          <%= link_to movie_path(movie) do %>
            <%= image_tag(movie.poster_image.url, class: "card-img-top") %>
          <% end %>

          <div class="card-body d-flex flex-column">

            <h2 class="card-title">
              <%= link_to movie.title, movie_path(movie) %> (<%= movie.released_on.year %>)
            </h2>

            <div class="ml-auto">
              <div>
                <p>
                  <%= truncate(movie.description, length: 140, separator: ' ') %>
                </p>
              </div>
              <div>
                <table>
                  <tr>
                    <th>Released</th>
                    <td><%= movie.released_on %></td>
                  </tr>
                  <tr>
                    <th>Rating</th>
                    <td><%= movie.rating %></td>
                  </tr>
                  <tr>
                    <th>Duration</th>
                    <td><%= movie.duration %></td>
                  </tr>
                  <tr>
                    <th>Total Gross</th>
                    <td><%= format_total_gross(movie) %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
