<article class="container my-4">
  <div class="row">
    <header class="col-lg-4 col-md-6">
      <%= image_tag(@movie.poster_image.url, class: "img-fluid img-thumbnail") %>
    </header>

    <section class="col-lg-8 col-md-6">
      <h1><%= @movie.title %> (<%= @movie.released_on.year %>) </h1>

      <p>
        <%= format_star_display(@movie) %>
        <%= format_average_stars(@movie) %> from
        <%= link_to pluralize(@movie.reviews.count, "Review") , movie_reviews_path(@movie) %>
      </p>

      <p>
      <h6 class="no-rule">
        <%= @movie.rating %> &bull; <%= @movie.duration %>
      </h6>
      <%= @movie.description %>
      </p>

      <div class="d-flex">
        <div class="mr-2">
          <h6>Director</h6>
          <p>
            <%= @movie.director %>
          </p>
        </div>
        <div class= "mx-4">
          <h6>Released</h6>
          <p>
            <%= @movie.released_on %>
          </p>
        </div>
        <div class="mx-4">
          <h6>Total Gross</h6>
          <p>
            <%= format_total_gross(@movie) %>
          </p>
        </div>
      </div>

      <h6>Cast</h6>
      <p>
        <%= @movie.cast %>
      </p>

      <nav class="">
        <%= link_to "Edit", edit_movie_path(@movie), class: 'btn btn-primary btn-sm', role: "button" %>
        <%= link_to "Delete", movie_path(@movie),
            class: "btn btn-danger btn-sm",
            method: :delete, data: {confirm: "Delete this movie?"},
            role: "button" %>
      </nav>

      <hr class="my-4">

      <% if @movie.recent_reviews.any? %>
        <h6>Recent Reviews</h6>
        <ul>
          <% @movie.recent_reviews.each do |review| %>
          <li>
            <span>
              <%= pluralize(review.stars, 'Star') %>
            </span>
            <span class="font-weight-light">
              by
            </span>
            <span class="font-weight-bold">
              <%= review.name %>
            </span>
            <span class="font-italic">
              <%= time_ago_in_words(review.created_at) %> ago
            </span>
            <p>
              &quot;<%= review.comment %>&quot;
            </p>
          </li>
          <% end %>
        </ul>
      <% end %>

      <footer>
        <%= link_to "Add Review", new_movie_review_path(@movie),
          class: "btn btn-primary btn-sm mt-2",
          role: "button"
        %>
      </footer>

    </section>

  </div>
</article>
