<article id="movie" class="movie">

  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: (<%= @movie.released_on %>)</h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>

  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %>
  </h3>

  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>

  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>

  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

  <h3>User Rating</h3>
  <p>
    <%= format_star_display(@movie) %>
    <%= format_average_stars(@movie) %> from
    <%= link_to pluralize(@movie.reviews.count, "Review") , movie_reviews_path(@movie) %>
  </p>

  <%= format_recent_reviews(@movie) %>

  <% if @movie.recent_reviews.any? %>
    <h3>Recent Reviews</h3>
    <ol id="reviews">
      <% @movie.recent_reviews.each do |review| %>
      <li>
        <span class="review">
          <%= pluralize(review.stars, 'Star') %>
        </span>
        <span class="user">
          by <%= review.name %>
        </span>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
        <p>
          &quot;<%= review.comment %>&quot;
        </p>
      </li>
      <% end %>
    </ol>
  <% end %>

  <footer>
    <%= link_to "Add Review", new_movie_review_path(@movie),
      class: "button ok review"
    %>

    <nav>
      <%= link_to "Edit", edit_movie_path(@movie), class: 'button' %>
      <%= link_to "Delete", movie_path(@movie),
          class: "button",
          method: :delete, data: {confirm: "Delete this movie?"} %>
    </nav>
  </footer>
</article>
