<h1><%= pluralize(@reviews.size, 'Review') %> for <%= link_to @movie.title %> </h1>

<ul id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <article class="review">
        <p> <%= review.name %>: "<%= review.comment %>" </p>
        <p>Stars: <%= review.stars %></p>
      </article>
    </li>
<% end %>
</ul>