<div class="container mt-2">
  <div class="row">
    <h1><%= pluralize(@reviews.size, 'Review') %> for <%= link_to @movie.title, @movie %> </h1>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <% @movie.reviews.reverse.each do |review| %>
      <div class="col-lg-12">
        <%= format_review_stars(review) %>
        <span class="font-weight-light">
          by
        </span>
        <span class="font-weight-bold">
          <%= review.name %>
        </span>
        <span class="font-italic">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
        <p>
          &quot;<%= review.comment %>&quot;
        </p>
      </div>
    <% end %>
  </div>
</div>
