<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IanDb</title>

    <!-- Required meta tags for Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= render "layouts/flashes" %>
        </div>
      </div>

      <div class="row mt-2">
        <%= yield %>
      </div>

    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
